:host {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  transition: 0.3s ease-in;
  z-index: 2;
  object-fit: cover;
}

img {
  box-shadow: #00000047 1px 1px 1px 1px;
}
