:host {
  padding: 15px;
  min-width: 375px;
  max-width: 400px;
  margin: 35px;
  text-align: center;
  background-color: #00000023;
  transition: 1s ease-in;
}

app-count-up {
  font: bold 5em 'Liberation Mono', 'Courier New';
  color: var(--secondary-color-1);
  transition: 1s ease-in;
}

p {
  font: bold 1.5em 'Source Sans Pro', 'Helvetica';
  color: var(--secondary-color-1);
  transition: 1s ease-in;
}

@media screen and (max-width: 450px) {
  :host {
    min-width: 220px;
  }

  app-count-up {
    font-size: 3em;
  }

  p {
    font-size: 1.25em;
  }
}
