div {
}

div img {
  display: block;
  height: 100px;
  margin: auto;
}

div h2 {
  padding: 5px;
  margin-top: 5px;
  font: 1.2em 'Liberation Mono';
  color: var(--secondary-color-1);
  text-align: center;
}
