section {
  padding: 100px 0;
  background-color: var(--primary-color-2);
}

.container {
  max-width: 1300px;
  margin: auto;
}

.heading-container {
  background-color: var(--secondary-color-4);
  padding: 10px 15px;
  display: inline-block;
}

.heading-container h1 {
  display: block;
  font: bold 4em 'Liberation Mono';
  color: var(--secondary-color-1);
}

.heading-container p {
  font: 1.2em 'Liberation Mono';
  color: var(--secondary-color-1);
}

img {
  width: 100%;
  height: 125%;
  object-fit: cover;
  position: relative;
}

.content {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.content .parallax-wrapper {
  display: block;
  overflow: hidden;
  max-width: 500px;
  height: 600px;
  margin-bottom: 20px;
}

.content .description {
  font: 300 1.5em 'Source Sans Pro';
  text-align: justify;
  color: var(--secondary-color-1);
  padding: 10px 40px;
  flex: 1 0;
}

.content .description p {
  margin-bottom: 10px;
  text-indent: 30px;
  min-width: 350px;
}

@media screen and (max-width: 768px) {
  .heading-container h1 {
    font-size: 2em;
  }

  .heading-container p {
    font-size: 1em;
  }

  .content .parallax-wrapper {
    height: 600px;
  }

  .content .description p {
    font-size: 1em;
    max-width: none;
    min-width: auto;
  }
}
