.container {
  max-width: 1300px;
  margin: auto;
}

.heading-container {
  background-color: var(--secondary-color-4);
  padding: 10px 15px;
  display: inline-block;
}

.heading-container h1 {
  display: block;
  font: bold 4em 'Liberation Mono', 'Courier New';
  color: var(--secondary-color-1);
  transition: ease-in 1s;
}

.heading-container p {
  font: 1.2em 'Liberation Mono', 'Courier New';
  color: var(--secondary-color-1);
  transition: ease-in 1s;
}

.container .projects-container {
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

app-project {
  height: 650px;
  flex: 1;
}

.arrow-container {
  cursor: pointer;
  transition: 0.3s ease-in;
  background-color: #00000055;
  display: flex;
}

.arrow-container img {
  padding: 20px;
  width: 20px;
}

.arrow-container:hover {
  background-color: #000000A0;
}

@media screen and (max-width: 600px) {
  .heading-container h1 {
    font-size: 2em;
  }

  .heading-container p {
    font-size: 1em;
  }

  .arrow-container {
    display: inline-block;
  }
}
