<header>
  <div>
    <app-typewriter id="intro" #intro delay="75" to_write="Hi, I'm Mihir" (onFinished)="this.occupation.start()">
    </app-typewriter>
    <app-typewriter id="occupation" #occupation [initialDelay]="500" delay="75" to_write="Computer Engineer"
      (onFinished)="this.isHeaderLoaded = true">
    </app-typewriter>
  </div>
  <a [href]="this.scrollHref">
    <img [@headerLoaded]="isHeaderLoaded ? 'shown' : 'hidden'" class="down-arrow" src="/assets/icons/expand_more-white-48dp.svg">
  </a>
</header>
