header {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header div {
  vertical-align: middle;
  display: flex;
  flex-grow: 5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#intro {
  display: block;
  font: bold 8em 'Liberation Mono';
  text-align: center;
  color: var(--secondary-color-1);
  transition: ease-in 1s;
}

#occupation {
  display: block;
  font: bold 4em 'Liberation Mono';
  text-align: center;
  color: var(--secondary-color-1);
  transition: ease-in 1s;
}

.down-arrow-link {
  width: 100%;
}

.down-arrow {
  display: block;
  height: 100px;
  width: 100%;
  opacity: 0;
}

ul {
  flex-grow: 1;
}

ul li {
  display: inline;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

ul li a {
  padding: 10px;
  display: inline-block;
}

ul li a:hover {
  background-color: #00000047;
  border-radius: 50%;
  transform: translateY(-5px);
  transition: 0.2s ease-in;
}

ul li a img {
  height: 40px;
}

header .overlay {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  #intro {
    font-size: 6em;
  }

  #occupation {
    font-size: 2em;
  }
}
