<header>
  <div>
    <app-typewriter id="intro" autostart="true" delay="75" to_write="Hi, I'm Mihir"
      (onFinished)="this.occupation.start()">
    </app-typewriter>
    <app-typewriter id="occupation" #occupation initialDelay="500" delay="75" to_write="Computer Engineer"
      (onFinished)="doneLoading()">
    </app-typewriter>
  </div>
  <ul [@fadeDown]="isHeaderLoaded">
    <li><a appPreviewable #email="appPreviewable" previewName="email" (mouseover)="showPreview(email)"
        (mouseout)="hidePreview()" title="Email Me" href="mailto:contact@mihirlad.com">
        <app-webp alt="Email" type="links" [name]="email.previewName"></app-webp>
      </a></li>
    <li><a appPreviewable #linkedin="appPreviewable" previewName="linkedin" title="My LinkedIn Profile"
        href="https://linkedin.com/in/mihirlad55" (mouseover)="showPreview(linkedin)" (mouseout)="hidePreview()">
        <app-webp type="links" alt="LinkedIn" [name]="linkedin.previewName"></app-webp>
      </a></li>
    <li><a appPreviewable #github="appPreviewable" previewName="github" title="My GitHub Profile"
        href="https://github.com/mihirlad55" (mouseover)="showPreview(github)" (mouseout)="hidePreview()">
        <app-webp type="links" alt="GitHub" [name]="github.previewName"></app-webp>
      </a></li>
    <li><a appPreviewable #gitlab="appPreviewable" previewName="gitlab" title="My GitLab Profile"
        href="https://gitlab.com/mihirlad55" (mouseover)="showPreview(gitlab)" (mouseout)="hidePreview()">
        <app-webp type="links" alt="GitLab" [name]="gitlab.previewName"></app-webp>
      </a></li>
  </ul>
  <a class="down-arrow-link" [href]="this.scrollHref">
    <img [@fadeIn]="isHeaderLoaded" class="down-arrow" src="/assets/img/expand_more-white-48dp.svg">
  </a>
  <app-anchor-preview [previewable]="this.previewable" [isPreviewVisible]="this.isPreviewVisible">
  </app-anchor-preview>
</header>
