div {
  vertical-align: middle;
  display: flex;
  flex-grow: 5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro {
  display: block;
  font: bold 8em 'Liberation Mono', 'Courier New';
  text-align: center;
  color: var(--secondary-color-1);
  transition: ease-in 0.2s;
}

.occupation {
  display: block;
  font: bold 4em 'Liberation Mono', 'Courier New';
  text-align: center;
  color: var(--secondary-color-1);
  transition: ease-in 0.2s;
}

.down-arrow-link {
  width: 100%;
}

.down-arrow {
  display: block;
  height: 100px;
  width: 100%;
  opacity: 0;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-height: 175px;
}

ul li {
  display: block;
  padding: 10px;
}

ul li a {
  display: block;
  padding: 10px;
  border-radius: 50%;
}

ul li a:hover {
  background-color: #00000047;
  transform: translateY(-5px) scale(1.1);
  transition: 0.2s ease-in;
}

ul li a app-webp {
  height: 40px;
  display: block;
}

app-anchor-preview {
  position: fixed;
}

@media screen and (max-width: 1200px) {
  .intro {
    font-size: 10vw;
  }

  .occupation {
    font-size: 5vw;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    font-size: 4.6em;
  }

  .occupation {
    font-size: 2em;
  }
}
