@keyframes rotate {
  from {transform: rotate(0);}
  to {transform: rotate(360deg);}
}

.container {
  max-width: 1300px;
  margin: auto;
}

.heading-refresh-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.heading-wrapper {
  flex: 10 8;
  min-width: 190px;
}

.refresh-wrapper {
  flex: 2 1;
  min-width: 100px;
  margin: 20px 0;
}

.refresh-icon {
  height: 50px;
  margin: auto;
  display: block;
  border-radius: 50%;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.rotate {
  animation: 1s rotate both infinite;
}

.refresh-icon:hover {
  background-color: #00000047;
  transform: translateY(-5px) scale(1.1);
}

.heading-container {
  background-color: var(--secondary-color-4);
  padding: 10px 15px;
  display: inline-block;
}

.heading-container h1 {
  display: block;
  font: bold 4em 'Liberation Mono', 'Courier New';
  color: var(--secondary-color-1);
  transition: ease-in 1s;
}

.heading-container p {
  font: 1.2em 'Liberation Mono', 'Courier New';
  color: var(--secondary-color-1);
  transition: ease-in 1s;
}

.stats-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.date-updated {
  color: var(--secondary-color-1);
  font: 1.3em 'Source Sans Pro', 'Helvetica';
  padding: 20px;
}

app-stat {
  flex: 1;
}

@media screen and (max-width: 600px) {
  .heading-container h1 {
    font-size: 2em;
  }

  .heading-container p {
    font-size: 1em;
  }

  .date-updated {
    margin-left: 0;
  }
}
