<section>
  <div class="container">
    <div class="heading-container">
      <h1>
        <app-typewriter autostart="true" delay="75" to_write="// Stats"></app-typewriter>
      </h1>
      <p>Who doesn't like numbers</p>
    </div>
    <div class="stats-container">
      <app-stat *ngFor="let stat of this.visibleStats" [stat]="stat"></app-stat>
    </div>
    <p class="date-updated">The above data was updated automatically at {{ this.updatedDate | date:'MM-dd-yyyy hh:mmaa' }}</p>
  </div>
</section>
