:host {
  display: inherit;
}

picture {
  display: inherit;
  height: inherit;
  width: inherit;
  max-width: inherit;
  object-fit: inherit;
  margin: inherit;
}

picture img {
  display: inherit;
  height: inherit;
  width: inherit;
  max-width: inherit;
  object-fit: inherit;
  margin: inherit;
}

