:host {
  display: block;
}

picture {
  display: block;
  height: inherit;
  width: inherit;
  object-fit: inherit;
  margin: inherit;
}

picture img {
  display: block;
  height: inherit;
  width: inherit;
  object-fit: inherit;
  margin: inherit;
}

