header {
  height: 100vh;
  width: 100%;
  background-color: var(--primary-color-1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header div {
  vertical-align: middle;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#intro {
  display: block;
  font: bold 8em 'Liberation Mono';
  text-align: center;
  color: var(--secondary-color-1);
}

#occupation {
  display: block;
  font: bold 4em 'Liberation Mono';
  text-align: center;
  color: var(--secondary-color-1);
}
