<header>
  <div>
    <app-typewriter id="intro" #intro delay="75" to_write="Hi, I'm Mihir" (onFinished)="this.occupation.start()">
    </app-typewriter>
    <app-typewriter id="occupation" #occupation [initialDelay]="500" delay="75" to_write="Computer Engineer"
      (onFinished)="this.isHomeLoaded = true">
    </app-typewriter>
  </div>
  <a href="#skills-section">
    <img [@homeLoaded]="isHomeLoaded ? 'shown' : 'hidden'" class="down-arrow" src="/assets/icons/expand_more-white-48dp.svg">
  </a>
</header>

<section id="skills-section">
  <h1>// Skills</h1>
  <div id="skills">
    <app-skill *ngFor="let skill of this.skills" [skill]="skill">
    </app-skill>
  </div>
</section>
